.trainingDays-container{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    width: 110%;
    margin-bottom: 20px;
}
.button-container{
    justify-content: center;
}