.trainingDays-container{
    display: flex;
    flex-direction: column;
    background-size: 100%;
    background-color: dark;
    
    justify-content: center;
    align-items: center;
    width: 110%;
   
}
.button-container{
    justify-content: center;
}
hr {
    border-top: 1px solid #ddd; /* Línea fina y gris clara */
    width: 50%; /* Ocupa el 100% del contenedor */
  }
  